.newchat-searchbox {
  border-bottom: 1px solid #323739;
  .searchbox-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 4px 8px;
    border-radius: 1.25rem;
    width: 300px;
    background-color: #323739;
    color: white;
    border: none;
    height: 35px;
    position: relative;
    align-items: center;
    margin-top: -16px;
    input[type="text"],
    input[type="text"]:focus-visible {
      border: none;
      outline: none;
      width: 220px;
      color: white;
    }
  }
}
#search {
  position: absolute;
  background: transparent;
  color: white;
  left: 60px;
}
#search-icon {
  left: 15px;
  z-index: 10;
  position: absolute;
}
