#chat-component {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 1rem;

  #message-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1rem;
    background-color: #1e2428;
    align-items: center;
    right: 0;
    left: 330px;

    svg {
      cursor: pointer;
      color: antiquewhite;
    }
  }

  input {
    outline: 0;
    border: none;
  }

  #icon-button-file {
    display: none;
  }

  #input-message {
    padding: 10px;
    background-color: #33383b;
    color: antiquewhite;
    border-radius: 30px;
    flex: 1 0 auto;
    outline: 0;
    border: none;
  }

  #send-btn {
    cursor: pointer;
    margin: 0 10px;
  }
}

#emoji-picker-react {
  position: absolute;
  bottom: 90px;
  left: 340px;
}

body {
  background-color: #10171b;
}
