#infoSidebar {
  background-color: #0c1316;
  color: #eee;
  width: 420px;
  .header {
    background-color: #2a2f32;
  }
}

@media screen and (max-width: 650px) {
  #infoSidebar {
    width: calc(100vw - 330px);
  }
}
