#nav-left {
  position: fixed;
  background-color: #131c21;
  color: white;
  left: 0;
  top: 0px;
  width: 330px;
  bottom: 0;

  #nav-left-top {
    background-color: #2a2f32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 1rem;
    border-right: 1px solid rgba(252, 252, 252, 0.205);
  }
  .left-menu-searchbox {
    padding: 2px 0;
    border-bottom: 1px solid #323739;
    .searchbox-wrapper {
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 4px 8px;
      border-radius: 1.25rem;
      width: 300px;
      background-color: #323739;
      color: white;
      border: none;
      height: 35px;
      position: relative;
      align-items: center;
      input[type="text"],
      input[type="text"]:focus-visible {
        border: none;
      }
    }
  }
  #search {
    position: absolute;
    background: transparent;
    color: grey;
    left: 60px;
  }
  #search-icon {
    left: 15px;
    z-index: 10;
    position: absolute;
  }

  .rce-citem {
    background-color: #131c21;

    .rce-citem-body--top-time {
      color: aliceblue;
    }
    .rce-citem-body--top,
    .rce-citem-body--bottom {
      text-align: left;
    }
  }
  .rce-citem:hover {
    background-color: #2a2f32;
  }
}
