$text_color: #d0d1d3;

#navigation {
  background-color: #2a2f32;
  position: fixed;
  top: 0;
  left: 330px;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  .nav-img-default {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    margin: auto;
  }
  div {
    color: white;
    text-align: start;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    #nav-userInfo {
      margin: auto 0;
      flex-direction: column;
      justify-content: flex-start;

      h6 {
        margin: unset;
      }
    }

    small {
      color: rgba(255, 255, 255, 0.664);
    }

    svg {
      color: white;
    }
  }
  .two,
  .three {
    align-items: center;
  }
  .two {
  }
  .three {
    width: 420px;
  }
}
